<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center">PROFILE</h1>
        </div>
        <table class="table col-md-6 mx-auto">
            <tr>
                <th>First Name</th>
                <th>{{details?.first_name}}</th>
            
            </tr>
            <tr>
                <th>Last Name</th>
                <th>{{details?.last_name}}</th>
                
            </tr>
            <tr>
                <th>Email</th>
                <th>{{details?.email}}</th>
                    
            </tr>
        </table>
    </div>
</div>